body {
	background-color: #f3f3f3;
}

.navbar {
	background-color: rgba(255, 255, 255, 0.726);
	color: white !important;
	text {
		color: white !important;
	}
}

.jumbotron {
	background-image: url(./images/City-At-Night-Desktop-Wallpaper.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-bottom: 0;
	min-height: 500px;
	.container {
		.col {
			background-color: rgba(245, 245, 245, 0.76);
			z-index: 9999;

			h1 {
				color: rgb(17, 32, 63);
				font-weight: bold;
			}
			p {
				font-size: 12px;
				color: rgb(25, 69, 77);
			}
			.socials {
				cursor: pointer;
			}
		}
	}
}

.familiar {
	color: rgb(44, 40, 40);
	text-transform: uppercase;
	font-weight: bolder;
}

.interested {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

.language {
	color: rgb(44, 40, 40);
	text-transform: uppercase;
	font-weight: bold;
}
